<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务器信息</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <script src="../static/jquery.js"></script>
    <script src="../static/api.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script>
        var labelLength = 30;
        var labels = new Array(labelLength);
        for(var i = 0; i < 30; i++) {
            labels[i] = i*2;
        }

        var cpuChart;
        var diskChart;
        var memoryChart;

        var createMemoryChart = function (used) {
            var d = {
                labels: labels,
                datasets: [
                    {
                        label: "已使用的内存(GB)",
                        data: used,
                        backgroundColor: "rgba(34,139,34,0.2)",
                        borderColor: "rgba(34,139,34,1)",
                        pointBorderColor: "rgba(34,139,34,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    }
                ]
            };

            var options = {
                responsive: false,
                animation : false,
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{}]
                }
            };

            var memoryLineChart = {
                type: 'line',
                data: d,
                options: options
            };
            var ctx = $('#memoryChart').get(0);
            memoryChart = new Chart(ctx, memoryLineChart);
        };

        var updateMemoryChart = function (used) {
            var memoryData = memoryChart.data;
            var datasetUsed = memoryData.datasets[0];
            datasetUsed.data = used;
            memoryChart.update();
        };

        var createDiskChart = function (read, write) {
            var d = {
                labels: labels,
                datasets: [
                    {
                        label: "硬盘读速度(KB/s)",
                        data: read,
                        backgroundColor: "rgba(218,112,214,0.2)",
                        borderColor: "rgba(218,112,214,1)",
                        pointBorderColor: "rgba(218,112,214,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    },
                    {
                        label: "硬盘写速度(KB/s)",
                        data: write,
                        backgroundColor: "rgba(255,20,147,0.2)",
                        borderColor: "rgba(255,20,147,1)",
                        pointBorderColor: "rgba(255,20,147,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    }
                ]
            };

            var options = {
                responsive: false,
                animation : false,
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{}]
                }
            };

            var diskLineChart = {
                type: 'line',
                data: d,
                options: options
            };
            var ctx = $('#diskChart').get(0);
            diskChart = new Chart(ctx, diskLineChart);
        };

        var updateDiskChart = function (read, write) {
            var diskData = diskChart.data;
            var datasetRead = diskData.datasets[0];
            var datasetWrite = diskData.datasets[1];
            datasetRead.data = read;
            datasetWrite.data = write;
            diskChart.update();
        };

        var createCPUChart = function (min1, min5, min15) {
            var d = {
                labels: labels,
                datasets: [
                    {
                        label: "1分钟平均负载",
                        data: min1,
                        backgroundColor: "rgba(135,206,250,0.2)",
                        borderColor: "rgba(135,206,250,1)",
                        pointBorderColor: "rgba(135,206,250,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    },
                    {
                        label: "5分钟平均负载",
                        data: min5,
                        backgroundColor: "rgba(153,204,255,0.3)",
                        borderColor: "rgba(153,204,255,1)",
                        pointBorderColor: "rgba(153,204,255,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    },
                    {
                        label: "15分钟平均负载",
                        data: min15,
                        backgroundColor: "rgba(200,200,200,0.4)",
                        borderColor: "rgba(200,200,200,1)",
                        pointBorderColor: "rgba(200,200,200,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 2,
                    }
                ]
            };

            var options = {
                responsive: false,
                animation : false,
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{}]
                }
            };

            var cpuLineChart = {
                type: 'line',
                data: d,
                options: options
            };
            var ctx = $('#cpuChart').get(0);
            cpuChart = new Chart(ctx, cpuLineChart);
        };

        var updateCPUChart = function (min1, min5, min15) {
            var cpuData = cpuChart.data;
            var datasetMin1 = cpuData.datasets[0];
            var datasetMin5 = cpuData.datasets[1];
            var datasetMin15 = cpuData.datasets[2];
            datasetMin1.data = min1;
            datasetMin5.data = min5;
            datasetMin15.data = min15;
            cpuChart.update();
        };

        var createChart = function () {
            var form = {
                'data_len': labelLength,
            };
            var success = function (r) {
                if (r.success) {
                    log('success');
                    var min1 = r.data.cpu_min1;
                    var min5 = r.data.cpu_min5;
                    var min15 = r.data.cpu_min15;
                    var read = r.data.disk_read;
                    var write = r.data.disk_write;
                    var used = r.data.memory_used;
                    createCPUChart(min1, min5, min15);
                    createDiskChart(read, write);
                    createMemoryChart(used);
                } else {
                    log('failed');
                }
            };
            var error = function (err) {
                log(err);
            };
            chart.serverStatus(form, success, error)
        };

        var updateChart = function () {
            var form = {
                'data_len': labelLength,
            };
            var success = function (r) {
                if (r.success) {
                    log('success');
                    var min1 = r.data.cpu_min1;
                    var min5 = r.data.cpu_min5;
                    var min15 = r.data.cpu_min15;
                    var read = r.data.disk_read;
                    var write = r.data.disk_write;
                    var used = r.data.memory_used;
                    updateCPUChart(min1, min5, min15);
                    updateDiskChart(read, write);
                    updateMemoryChart(used);
                } else {
                    log('failed');
                }
            };
            var error = function (err) {
                log(err);
            };
            chart.serverStatus(form, success, error)
        };

        var __main = function () {
            createChart();
            setInterval(function () {
                updateChart();
            }, 2000);
        };

        $(document).ready(function () {
            __main();
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="chart-container">
            <h1>服务器信息</h1>
            <div class="chart-item">
                <h3>CPU</h3>
                <canvas id="cpuChart" width="800" height="300"></canvas>
            </div>
            <div class="chart-item">
                <h3>Disk</h3>
                <canvas id="diskChart" width="800" height="300"></canvas>
            </div>
            <div class="chart-item">
                <h3>Memory</h3>
                <canvas id="memoryChart" width="800" height="300"></canvas>
            </div>
        </div>
    </div>
</body>
</html>
