<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务器性能监控</title>
    <script src="../static/jquery.js"></script>
    <script src="../static/api.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script>

    </script>
</head>
<body>
    <h1>服务器信息</h1>
    <div id="div1" style="float:left">
        <canvas id="cpuChart" width="600" height="600"></canvas>
    </div>
    <div id="div2" style="float:left">
        <canvas id="memChart" width="600" height="600"></canvas>
    </div>
</body>
</html>